<style>
    #cookie-notice {
        display:block;
        padding:20px;
        background: #fff; color: rgba(0,0,0,0.8);}
    #cookie-notice a {display: inline-block; cursor: pointer; margin-left: 0.5rem;}
    @media only screen and (max-width: 767px) {
        #cookie-notice span { padding-bottom:10px; margin-bottom: 1rem;}
        #cookie-notice a {position: relative; bottom: 4px;}
    }
</style>
<div id="cookie-notice">
    <h1 style="text-align: center"> DISCLAIMER </h1>
    <span style="display: inline-block;text-align: left;">
        By continuing on this webpage(s)……..you have acknowledged the content of this disclaimer
        and the Terms and Conditions of Data Use on the corporate website of the Statistical Institute
        of Jamaica: <a href="https://www.statinja.gov.jm">www.statinja.gov.jm</a> ; and you have agreed to the conditions under both.
    </span><br>
    <span style="display: inline-block;text-align: left;">
    The Statistical Institute of Jamaica (“STATIN”) maintains this webpage(s) (the “Site”) as a courtesy to
    those who may chooses to access the Site (“Users”). The information presented on the Site is for
    review and research purposes only. STATIN grants permission to Users to visit the Site and to
    download and copy the information, documents and materials (collectively, “Materials”) from
    the Site for Users’ personal, commercial and non-commercial use. Postings on the Site are
    made at such times as STATIN determines in our discretion. While the information contained
    within the Site is periodically updated, NO GUARANTEE is given that the information provided is
    correct, complete, and up to date.
    </span><br>
    <span style="display: inline-block;text-align: left;">
    STATIN does not review past postings to determine whether
    they remain accurate, and information contained in such postings may have been superseded.
    This data product is provided ‘as-is,’ and to the fullest extent permitted by law, STATIN makes
    no warranty, either express or implied, including but not limited to, warranties of
    merchantability and fitness for a particular purpose. STATIN shall not have any liability or
    responsibility for any errors or omissions in the content of the Site, for Users’ action or inaction
    in connection with the Site or for any damage to Users’ computer or data or any other damage
    Users may incur in connection with the Site. In no event will STATIN be liable for any direct,
    special, indirect, consequential or other damages, however caused. WITHOUT LIMITING THE
    FOREGOING, STATIN ACCEPTS NO RESPONSIBILITY FOR THE THIRD-PARTY USE OR
    INTERPRETATION OF THE DATA OR FOR INFERENCES BASED ON IT NOR DOES STATIN
    REPRESENT OR WARRANT THAT THE SITE WILL OPERATE WITHOUT INTERRUPTION OR ERROR.
    </span><br>
    <span style="display: inline-block;text-align: left;">
    The Site may contain links to other internet resources including third-party websites or services
    that are not owned or controlled by STATIN. These links are provided solely for the convenience
    of Users. STATIN is not responsible for the accuracy, currency or reliability of the content of
    these sites. Links from STATIN to third-party sites do not constitute an endorsement or any
    guarantee by STATIN of products and services on these sites.</span>
    </br>
    </br>

</div>
<div style="text-align: center; padding: 10px;">
    <span  id="cookie-notice-accept" class="btn btn-primary btn-sm"> Accept</span>
</div>

<script>
    function createCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    function eraseCookie(name) {
        createCookie(name,"",-1);
    }

    if(readCookie('cookie-notice-dismissed')=='true') {

    } else {
        document.getElementById('cookie-notice').style.display = 'block';
    }
    document.getElementById('cookie-notice-accept').addEventListener("click",function() {
        createCookie('cookie-notice-dismissed','true',31);
        document.getElementById('cookie-notice').style.display = 'none';
        location.reload();
    });

</script>
