<section class="usa-banner" aria-label="Official government website">
  <div class="usa-accordion">
    <header class="usa-banner__header">
      <div class="usa-banner__inner">
        <div class="grid-col-auto">
          <img class="usa-banner__header-flag" src="{{ site.baseurl }}/assets/img/us_flag_small.png" alt="U.S. flag">
        </div>
        <div class="grid-col-fill tablet:grid-col-auto">
          <p class="usa-banner__header-text">An official website of the United States government</p>
          <p class="usa-banner__header-action" aria-hidden="true">Here’s how you know</p>
        </div>
        <button class="usa-accordion__button usa-banner__button"
          aria-expanded="false" aria-controls="gov-banner">
          <span class="usa-banner__button-text">Here’s how you know</span>
        </button>
      </div>
    </header>
    <div class="usa-banner__content usa-accordion__content" id="gov-banner">
      <div class="grid-row grid-gap-lg">
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img class="usa-banner__icon usa-media-block__img" src="{{ site.baseurl }}/assets/img/icon-dot-gov.svg" role="img" alt="Dot gov">
          <div class="usa-media-block__body">
            <p>
              <strong>
                Official websites use .gov
              </strong>
              <br/>
              A <strong>.gov</strong> website belongs to an official government organization in the United States.
            </p>
          </div>
        </div>
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img class="usa-banner__icon usa-media-block__img" src="{{ site.baseurl }}/assets/img/icon-https.svg" role="img" alt="Https">
          <div class="usa-media-block__body">
            <p>
              <strong>
                Secure .gov websites use HTTPS
              </strong>
              <br/>
              A <strong>lock</strong> (
<span class="icon-lock"><svg xmlns="http://www.w3.org/2000/svg" width="52" height="64" viewBox="0 0 52 64" class="usa-banner__lock-image" role="img" aria-labelledby="banner-lock-title banner-lock-description"><title id="banner-lock-title">Lock</title><desc id="banner-lock-description">A locked padlock</desc><path fill="#000000" fill-rule="evenodd" d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z"/></svg></span>
) or <strong>https://</strong> means you’ve safely connected to the .gov website. Share sensitive information only on official, secure websites.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% unless site.disclaimer.hidden %}
<div class="container">
  <div class="disclaimer-alert">
    <strong class="phase-tag">{{ site.disclaimer.phase | default: page.t.header.alpha | t }}</strong>
    {% assign disclaimer_message_default = page.t.header.disclaimer | t %}
    {{ site.disclaimer.message | default: disclaimer_message_default | t }}
    {% include components/dev-disclaimer-custom.html %}
  </div>
</div>
{% endunless %}
<style>

 #cookiePopup {
         background: white;
         margin: auto;
         margin-top: 5%;
         width:80%;
         height: auto;
         align-items: center;
         text-align: center;

        
         padding: 5px 20px;
       }
         #cookiePopup p{
         text-align: center;
         font-size: 1.2em;
         color: #4e4e4e;
       }
       #cookiePopup button{
        font-size: 1.2em;
         display: block;
         width:15%;
         height:50%;
         border: navajowhite;
         background: #E52B3D;
         padding: 5px;
         border-radius: 10px;
         color: white;
       }

       .container{
        display:none;
       }
   </style>
   <div id="cookiePopup">
    <h1> DISCLAIMER </h1>
    <p style="display: inline-block;text-align: left;">
        By continuing on this webpage(s)……..you have acknowledged the content of this disclaimer
        and the Terms and Conditions of Data Use on the corporate website of the Statistical Institute
        of Jamaica: <a href="https://www.statinja.gov.jm">www.statinja.gov.jm</a> ; and you have agreed to the conditions under both.
    </p><br>
    <p style="display:inline-block;text-align: left;">
    The Statistical Institute of Jamaica (“STATIN”) maintains this webpage(s) (the “Site”) as a courtesy to
    those who may choose to access the Site (“Users”). The information presented on the Site is for
    review and research purposes only. STATIN grants permission to Users to visit the Site and to
    download and copy the information, documents and materials (collectively, “Materials”) from
    the Site for Users’ personal, commercial and non-commercial use. Postings on the Site are
    made at such times as STATIN determines in our discretion. While the information contained
    within the Site is periodically updated, NO GUARANTEE is given that the information provided is
    correct, complete, and up to date.
    </p><br>
    <p style="display:inline-block;text-align: left;">
    STATIN does not review past postings to determine whether
    they remain accurate, and information contained in such postings may have been superseded.
    This data product is provided ‘as-is,’ and to the fullest extent permitted by law, STATIN makes
    no warranty, either express or implied, including but not limited to, warranties of
    merchantability and fitness for a particular purpose. STATIN shall not have any liability or
    responsibility for any errors or omissions in the content of the Site, for Users’ action or inaction
    in connection with the Site or for any damage to Users’ computer or data or any other damage
    Users may incur in connection with the Site. In no event will STATIN be liable for any direct,
    special, indirect, consequential or other damages, however caused. WITHOUT LIMITING THE
    FOREGOING, STATIN ACCEPTS NO RESPONSIBILITY FOR THE THIRD-PARTY USE OR
    INTERPRETATION OF THE DATA OR FOR INFERENCES BASED ON IT NOR DOES STATIN
    REPRESENT OR WARRANT THAT THE SITE WILL OPERATE WITHOUT INTERRUPTION OR ERROR.
    </p><br>
    <p style="display: inline-block;text-align: left;">
    The Site may contain links to other internet resources including third-party websites or services
    that are not owned or controlled by STATIN. These links are provided solely for the convenience
    of Users. STATIN is not responsible for the accuracy, currency or reliability of the content of
    these sites. Links from STATIN to third-party sites do not constitute an endorsement or any
    guarantee by STATIN of products and services on these sites.</p>
   <div style="display: flex;
   align-items: center;
   justify-content: center; padding-bottom: 10px;"> <button id="acceptCookie">Accept</button> </div>
  </div>
   
   <script type="text/javascript">
    // set cookie according to you
    var cookieName= "CodingStatus";
    var cookieValue="Coding Tutorials";
    var cookieExpireDays= 30;
    
    // when users click accept button
    let acceptCookie= document.getElementById("acceptCookie");
    acceptCookie.onclick= function(){
        createCookie(cookieName, cookieValue, cookieExpireDays);
    }
    
    // function to set cookie in web browser
     let createCookie= function(cookieName, cookieValue, cookieExpireDays){
      let currentDate = new Date();
      currentDate.setTime(currentDate.getTime() + (cookieExpireDays*24*60*60*1000));
      let expires = "expires=" + currentDate.toGMTString();
      document.cookie = cookieName + "=" + cookieValue + ";" + expires + ";path=/";
      if(document.cookie){
        const containers = document.querySelectorAll('.container');
            containers.forEach(element => {
                element.style.display='block';
            });
        document.getElementById("cookiePopup").style.display = "none";
      }else{
        alert("Unable to set cookie. Please allow all cookies site from cookie setting of your browser");
      }
    
     }
    
    // get cookie from the web browser
    let getCookie= function(cookieName){
      let name = cookieName + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(';');
      for(let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
    // check cookie is set or not
    let checkCookie= function(){
        let check=getCookie(cookieName);
        if(check==""){
            document.getElementById("cookiePopup").style.display = "block";
        }else{
            
            document.getElementById("cookiePopup").style.display = "none";
        }
    }
    checkCookie();
    </script>
