
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">

<style>
#top-custom{
  background-color: #124489;
  min-height: 30px;
  float:right;
  width:60%;
  padding-left: 15px;
  color:white;
  padding: 5px;
  padding-right:-20px;
  background-image:url('{{ site.baseurl }}/assets/img/tip.jpg');
  background-repeat: no-repeat;
  text-align: right;
}
  #Float-Area{
  padding-left: 8.5%;
  padding-top: 10px;
  }
   #img-float{
     float: left;
   }
   #img-float img{
     width:4vw;
   }
   #Logo-Text{
    font-family: 'Roboto',sans-serif;
    font-size: 30px;
    color:#585858;
   }
   #slogan{
    font-family: Century Gothic, helvetica neue;
    font-size: 15px;
    color:#585858;

   }
   @media (max-width: 800px){
    #img-float img {
    height: 30px;
    }   
   }
    
</style>
<div id="top-custom">
  <span style="padding:10px;font-family: sans-serif;">GOVERNMENT OF JAMAICA </span>
  <img src="{{ site.baseurl }}/assets/img/jamflag.jpg" style="height: 16px;" alt="jamaican flag"/>
</div>
<div id="Float-Area">
  <div id="img-float">
    <img src="{{ site.baseurl }}/assets/img/statin-logo.png" alt='statin logo'/> 
      </div>
    <div id="Logo-Text">
      Statistical Institute of Jamaica
    </div>
    <div id="Slogan">
      We collect. We Analyse. We Publish
    </div>    
</div>   

<style>
  .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 15px;
  overflow: auto;
  border: 1px solid #888;
  width: 80%;
  height:50%; /*HERE*/
}
.modal-header{
  margin:auto;
  width:60%;
  background-color: #fefefe;
  display:block;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#acceptCookie{
       display: block;
       width:10%;
       margin:0;
       border: navajowhite;
       background: #097fb7;
       padding: 10px;
       border-radius: 20px;
       color: white;
     }
</style>

<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h1 style="text-align:center;">
       <strong>Disclaimer</strong>
      </h1>
      </div>  
      <p style="display: inline-block;text-align: left;">
        By continuing on this webpage(s)……..you have acknowledged the content of this disclaimer
        and the Terms and Conditions of Data Use on the corporate website of the <strong> Statistical Institute
        of Jamaica:</strong> <a href="https://www.statinja.gov.jm">www.statinja.gov.jm</a> and you have agreed to the conditions under both.
    </p><br>
    <p style="display:inline-block;text-align: left;">
    The Statistical Institute of Jamaica (“<strong>STATIN</strong>”) maintains this webpage(s) (the “Site”) as a courtesy to
    those who may choose to access the Site (“Users”). The information presented on the Site is for
    review and research purposes only. <strong>STATIN</strong> grants permission to Users to visit the Site and to
    download and copy the information, documents and materials (collectively, “Materials”) from
    the Site for Users’ personal, commercial and non-commercial use. Postings on the Site are
    made at such times as <strong>STATIN</strong> determines in our discretion. While the information contained
      within the Site is periodically updated, <strong>NO GUARANTEE</strong> is given that the information provided is
    correct, complete, and up to date.
    </p><br>
    <p style="display:inline-block;text-align: left;">
    <strong>STATIN</strong> does not review past postings to determine whether
    they remain accurate, and information contained in such postings may have been superseded.
    This data product is provided ‘as-is,’ and to the fullest extent permitted by law, <strong>STATIN</strong> makes
    no warranty, either express or implied, including but not limited to, warranties of
    merchantability and fitness for a particular purpose. <strong>STATIN</strong> shall not have any liability or
    responsibility for any errors or omissions in the content of the Site, for Users’ action or inaction
    in connection with the Site or for any damage to Users’ computer or data or any other damage
    Users may incur in connection with the Site. In no event will <strong>STATIN</strong> be liable for any direct,
    special, indirect, consequential or other damages, however caused.<strong> WITHOUT LIMITING THE
    FOREGOING, STATIN ACCEPTS NO RESPONSIBILITY FOR THE THIRD-PARTY USE OR
    INTERPRETATION OF THE DATA OR FOR INFERENCES BASED ON IT NOR DOES STATIN
    REPRESENT OR WARRANT THAT THE SITE WILL OPERATE WITHOUT INTERRUPTION OR ERROR.</strong>
    </p><br>
    <p style="display: inline-block;text-align: left;">
    The Site may contain links to other internet resources including third-party websites or services
    that are not owned or controlled by <strong>STATIN</strong>. These links are provided solely for the convenience
    of Users. <strong>STATIN</strong> is not responsible for the accuracy, currency or reliability of the content of
    these sites. Links from <strong>STATIN</strong> to third-party sites do not constitute an endorsement or any
    guarantee by <strong>STATIN</strong> of products and services on these sites.</p>
    <div style="display: flex;
    align-items: center;
    justify-content: center; padding-bottom: 10px;"> <button id="acceptCookie">Accept</button> </div>
</div>

<script>
 var cookieName= "CodingStatus";
    var cookieValue="Coding Tutorials";
    var cookieExpireDays= 30;
    
    // when users click accept button
    let acceptCookie= document.getElementById("acceptCookie");
    acceptCookie.onclick= function(){
        createCookie(cookieName, cookieValue, cookieExpireDays);
    }

   var modal = document.getElementById('myModal');
  
  let createCookie= function(cookieName, cookieValue, cookieExpireDays){
      let currentDate = new Date();
      currentDate.setTime(currentDate.getTime() + (cookieExpireDays*24*60*60*1000));
      let expires = "expires=" + currentDate.toGMTString();
      document.cookie = cookieName + "=" + cookieValue + ";" + expires + ";path=/";
      if(document.cookie){
        document.getElementById("myModal").style.display = "none";
      }else{
        alert("Unable to set cookie. Please allow all cookies site from cookie setting of your browser");
      }
    
     }
    
    // get cookie from the web browser
    let getCookie= function(cookieName){
      let name = cookieName + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(';');
      for(let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
    // check cookie is set or not
    let checkCookie= function(){
        let check=getCookie(cookieName);
        if(check==""){
            document.getElementById("myModal").style.display = "block";
        }else{
            
            document.getElementById("myModal").style.display = "none";
        }
    }
    checkCookie();  
  </script>
