
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">

<!-- color for bar 
   #124489; -->

<style>

#top-custom{
  background-color: #124489;
  min-height: 30px;
  float:right;
  width:60%;
  padding-left: 15px;
  color:white;
  padding: 5px;
  padding-right:-20px;
  background-image:url('{{ site.baseurl }}/assets/img/tip.jpg');
  background-repeat: no-repeat;
  text-align: right;

}
  #Float-Area{
  padding-left: 8.5%;
  padding-top: 10px;
  }
   #img-float{
     float: left;
   }
   #img-float img{
     width:4vw;
   }
   #Logo-Text{
    font-family: 'Roboto',sans-serif;
    font-size: 30px;
    color:#585858;
   }
   #slogan{
    font-family: Century Gothic, helvetica neue;
    font-size: 15px;
    color:#585858;

   }
   @media (max-width: 800px){
    #img-float img {
    height: 30px;
    }   
   }
    
</style>
<div id="top-custom">
  <span style="padding:10px;font-family: sans-serif;">GOVERNMENT OF JAMAICA </span>
  <img src="{{ site.baseurl }}/assets/img/jamflag.jpg" style="height: 16px;" alt="jamaican flag"/>
</div>
<div id="Float-Area">
  <div id="img-float">
    <img src="{{ site.baseurl }}/assets/img/statin-logo.png" alt='statin logo'/> 
      </div>
    <div id="Logo-Text">
      Statistical Institute of Jamaica
    </div>
    <div id="Slogan">
      We collect. We Analyse. We Publish
    </div>    
</div>   


