{% include multilingual-js.html key="header" %}
<a class="sr-only sr-only-focusable" id="skiplink" href="#main-content" tabindex="0">{{ page.t.header.skip_link }}</a>
<!--<div id="disclaimer">-->
  <!--{% include components/dev-disclaimer.html %}-->
<!--</div>-->

<header role="banner">


  <div class="header">
    <div id="top-nav-custom">
      <div >
        <div class="col-xs-6 col-md-6 col-lg-6 text-left">

        </div>
        <div class="col-xs-6 col-md-6 col-lg-6">
          <div class="text-right gov-of-ja">
            <span style="position: relative;">GOVERNMENT OF JAMAICA</span>
            <img src='{{ site.baseurl }}/assets/img/jam.jpg' style="height: 14px; position: relative;" alt="jamaica flag" />
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="container">
      <div id="logo-area" class="row">
        <div class="col-xs-9 col-sm-9 col-md-9">
          <div class="row">
            <div class="col-xs-1">
              <a href='{{ site.baseurl }}/' class="logo-text-main">
                <img src='{{ site.baseurl }}/assets/img/STATIN%20Logo.png' class="logo" alt="STATIN logo" />
              </a>
            </div>
            <div class="col-xs-7">
              <div class="logo-name"> <a href='{{ site.baseurl }}/' class="logo-text-main">Statistical Institute of Jamaica</a></div>
              <div class="mobile-logo-name">STATIN</div>
              <div class="tag-line">We Collect. We Analyse. We Publish</div>
            </div>
            <div class="col-xs-3">
              <a href="https://facebook.com/STATINJA/" target="_blank" class="no-hov">
                <i class="fa fa-facebook facebook"></i>

              </a>
              <a href="https://www.youtube.com/channel/UCNc6GBwB-VPGRH1vP4bHHkQ" class="no-hov">
                <i class="fa fa-youtube youtube" ></i>
              </a>
            </div>
          </div>
        </div>
        <!-- <div class="col-xs-12 col-sm-3 col-md-3">
            <div id="search-area">
                <div class="search-area-text">Search<i class="fa fa-search"></i></div>
                <div class="search-area-option">
                    <div id="subject" data-toggle="modal" data-target="#myModalsearch">
                        Browse by subject
                    </div>
                </div>
                <div class="search-area-option">
                    <div id="search-result" data-toggle="modal" data-target="#myModalsearch">
                        Search Statistics

                    </div>
                </div>
            </div>
        </div> -->
        <div class="clearfix"></div>
      </div>
    </div>

  </div>


  <div class="container" id="menu">
    <a class="navbar-brand" href="{{ page.baseurl }}" id="home">
      <img src="{{ site.baseurl }}/assets/img/SDG_logo.png" alt="{{ page.t.general.sdg }} - {{ page.t.header.tag_line }}" />
    </a>

  <div class='hidden visible-xs float-right'>
    <ul id='accessibility-nav' class='contrast-switcher'></ul>
    {%- if site.languages.size > 1 -%}
    <div class="language-toggle-mobile">
      {% include components/language-toggle.html %}
    </div>
    {%- endif -%}
  </div>

    <nav class="navbar navbar-default" id="main-nav">

      <ul class="top-level">
        <li id="menuToggle"
            aria-label="Menu toggle. Click to expand or collapse the menu."
            aria-haspopup="true"
            aria-expanded="false">
          <span data-target="menu" tabindex="0"
          role="navigation">{{ page.t.menu.menu }}</span>
        </li>
        <li><span data-target="search">{{ page.t.search.search }}</span></li>
      </ul>

      {% include search.html %}
      
      <ul class="nav navbar-nav menu-target " >
        {%- if site.menu -%}
          {%- assign current_path_no_slash = page.url | remove: '/' -%}
          {%- for item in site.menu -%}
          {%- assign item_path_no_slash = item.path | remove: '/' -%}
          {%- assign item_path = item.path -%}
          {%- assign item_path_first = item_path | slice: 0 %}
          {%- if item_path_first == '/' -%}
            {%- assign item_path = item_path | slice: 1, item_path.size -%}
          {%- endif -%}
          <li class="nav-link {% if current_path_no_slash == item_path_no_slash %}active{% endif %}">
            {%- if item.translation_key == 'Reports' -%}
              <a href="{{ item_path }}">{{ item.translation_key | t }}</a>
            {%- else -%}
              <a href="{{ page.baseurl }}{{ item_path }}">{{ item.translation_key | t }}</a>
            {%- endif -%}
          </li>
          {%- endfor -%}
        {%- endif -%}
        {%- if site.languages.size > 1 -%}
        <li>
          {% include components/language-toggle.html %}
        </li>
        {%- endif -%}
      </ul>

      

    </nav>
  </div>

</header>
